@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/noise.png');
  background-size: 200px 200px;
  background-position: 0 0;

  @apply text-sm bg-zinc-50 text-black dark:bg-neutral-900 dark:text-white font-['Space Mono'] antialiased;
}
body::before {
  --line: color-mix(in lch, canvasText 50%, transparent);
  --size: 40px;
  content: '';
  height: 100vh;
  width: 100vw;
  position: fixed;
  background:
    linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 0 -5vmin /
      var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0 -5vmin / var(
        --size
      ) var(--size);
  mask: linear-gradient(-15deg, transparent 50%, white);
  top: 0;
  z-index: -1;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

h1,
h2 {
  @apply tracking-widest;
}

section {
  @apply opacity-0;
}

.bubble {
  @apply px-3 sm:px-5 py-1.5 sm:py-3 flex justify-center items-center gap-3 w-min  text-white bg-white dark:bg-stone-200 rounded-tr-full rounded-l-full font-['Poppin'] text-center tracking-wider font-semibold whitespace-pre  shadow;
}

.message {
  @apply w-min text-start;
}

.dot {
  @apply w-3 sm:w-4 h-3 sm:h-4 bg-gray-500 rounded-full;
}
